<!-- footer -->
<footer>
    <section class="contact sec" id="section5">

        <!-- contact top -->
        <div class="contact_top p-70 text-center">
            <div class="container" style="padding: 35px 0;">
                <div class="row m-0 justify-content-between">
                    <div class="col-lg-4 col-md-4 mt-3">
                        <div class="card p-3 contact_card">
                            <!-- <i class="fa-brands fa-viber"></i> -->
                            <i class="bi bi-telephone-forward"></i>
                            <div class="card-body">
                                <h5 class="card-title"><strong>Viber</strong>
                                </h5>
                                <p class="card-text">
                                    live:97fa144bc1af7fe7
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="card p-3 contact_card">
                            <i class="bi bi-envelope"></i>
                            <div class="card-body">
                                <h5 class="card-title"><strong>البريد الاليكتروني</strong>
                                </h5>
                                <p class="card-text">
                                    {{link}}                                    
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="card p-3 contact_card">
                            <i class="bi bi-phone"></i>
                            <div class="card-body">
                                <h5 class="card-title"><strong>الهاتف</strong>
                                </h5>
                                <p class="card-text">
                                    60796761 965+
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end contact top -->

        <!-- contact bottom -->
        <div class="contact_bottom p-70 text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="contact_img">
                            <img src="assets/isend-ff-01-t.png" width="70px" alt="">
                        </div>
                        <div class="contact_text mt-4">
                            <div class="icon">
                                <a href="#" class="icons"> <span><i
                                            class="bi bi-youtube youtube"></i></span></a>
                                <a href="https://www.instagram.com/i_send_kw/" class="icons"> <span><i
                                            class="bi bi-instagram instagram"></i></span></a>
                                <a href="#" class="icons"> <span><i
                                            class="bi bi-twitter twitter"></i></span></a>
                                <a href="#" class="icons"> <span><i
                                            class="bi bi-facebook facebook"></i></span></a>
                                <a href="https://wa.me/message/H3BHYD7VPJ25E1" target="_blank" class="icons">
                                    <span><i class="bi bi-whatsapp whatsApp"></i></span></a>

                            </div>
                            <div class="text mt-4">
                                <span>
                                    © isend for whatsapp Marketing All rights reserved 2018.
                                </span>
                            </div>
                            <div class="img mt-4">
                                <div class="row justify-content-center" style="direction: ltr;">
                                    <div class="col-lg-2 col-sm-2 col-md-2">
                                        <img src="assets/Western_Union_Logo_icon-icons.com_60535.png "
                                            alt="">
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2 mt-4">
                                        <img src="assets/1280px-Neteller.svg_.png" alt="">
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2 mt-4">
                                        <img src="assets/2000px-Skrill_logo.svg_.png" alt="">
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2 mt-2">
                                        <img src="assets/MasterCard_Logo_svg_.png" alt="">
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2 mt-3">
                                        <img src="assets/Visa_2014_logo_detail.svg_.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end contact bottom -->
    </section>
</footer>
<!-- end footer -->
