<body>

    <!-- Start loading page -->
    <!-- <div class="loading-spiner">
        <span class="loader">Loading</span>
    </div> -->
    <!-- End loading page -->
    <main class="main" id="main">
        <!-- home -->
        <section class="home sec" id="section1">
            <div class="home-content text-center">
                <div class="main-text">
                    <h1>إبدأ حملتك الاعلانية عن طريق<br> رسائل الواتس اب</h1>
                    <p class="text">نقدم لك أفضل برنامج للتسويق عبر الوتساب والذي يسمح لك بتشغيل<br> حملتك الاعلانيه
                        باستخدام لوحه التحكم الخاصه بك
                    </p>
                    <div class="text-btn mt-5">
                        <a class="BTN" href="http://interwa.i-send.co/login" target="_blank">حساب جديد</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- end home -->

        <!-- service -->
        <section class="service sec" id="section2">
            <div class="container">
                <div class="row service_row  justify-content-center">

                    <div class="col-lg-4 col-md-6 text-center service_col">
                        <div class="card">
                            <div class="card-body">
                                <div class="service-icon">
                                    <i class="bi bi-cash-coin"></i>
                                </div>
                                <div class="service-text">
                                    <h4>أبداء الان مع حساب مجاني</h4>
                                    <p>سجل حساب مجاني الآن واحصل علي 10 نقاط وقم بتجربة الخدمة مباشرة</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6  text-center service_col">
                        <div class="card">
                            <div class="card-body">
                                <div class="service-icon">
                                    <i class="bi bi-award-fill"></i>
                                </div>
                                <div class="service-text">
                                    <h4>النجاح يبدا هنا</h4>
                                    <p>يمكنك من خلال رسائل الواتس اب توسيع نطاق العمل وزيادة عدد العملاء لديك ، كن علي
                                        موعد مع النجاح وابدأ الآن</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6 text-center service_col">
                        <div class="card">
                            <div class="card-body">
                                <div class="service-icon">
                                    <i class="bi bi-fire"></i>
                                </div>
                                <div class="service-text">
                                    <h4> خدمتنا</h4>
                                    <p>رسائل اعلانيه عن طريق الواتس اب مع مزايا ارسال رسائل (نصية، صورة، فيديو، بي دي
                                        اف) من خلال لوحه التحكم الخاص بك </p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="service_text text-center">
                    <div class="container col-md-8">
                        <h3>ابدأ حملتك الاعلانية الأن من خلال رسائل الواتس اب</h3>
                        <p class="">
                            اذا كانت تبحث عن افضل طريقة للدعايا عن طريق الواتس اب فانت في المكان الصحيح من خلالنا يمكن
                            ارسال
                            الاعلانات الخاص بك لالف المستخدمين حولالعالم باسرع طريقه وارخص سعر
                        </p>
                        <div class="text-btn mt-5">
                            <a class="BTN btn-service" href="#"> <i class="bi bi-play-fill"></i> ابدأ الان</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="service_numbers">
                <div class="overlay"></div>
                <div class="service_numbers_text py-5">
                    <div class="container ">
                        <div class="row justify-content-center py-5">
                            <div class="col-lg-3 col-md-6 text-center">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="service-icon">
                                            <i class="bi bi-mortarboard-fill"></i>
                                        </div>
                                        <div class="count">
                                            <p class="card-title">
                                                <span>%</span>
                                                100
                                            </p>
                                        </div>
                                        <p class="card-title">نسبة وصوله حول العالم</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 text-center">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="service-icon">
                                            <i class="bi bi-globe-americas"></i>
                                        </div>
                                        <p class="card-title">
                                            7
                                        </p>
                                        <p class="card-title"> مكاتبنا حول العالم</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 text-center">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="service-icon">
                                            <i class="bi bi-emoji-laughing"></i>
                                        </div>
                                        <p class="card-title"> +
                                            50
                                        </p>
                                        <p class="card-title"> عميل سعيد بخدمتنا</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 text-center">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="service-icon">
                                            <i class="bi bi-mic-fill"></i>
                                        </div>
                                        <p class="card-title">+
                                            5000
                                        </p>
                                        <p class="card-title">حملة دعائية ناجحة</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end serivce -->

        <!-- advantage -->
        <section class="advantages sec p-70" id="section3">
            <div class="container col-md-4 text-center">
                <div class="advantages_text">
                    <span class="advantages_text_1">على ماذا ستحصل</span>
                    <h3 class="advantages_text_2">
                        المميزات
                    </h3>
                    <p class="advantages_text_3">
                        شركتنا تعمل يوم بعد يوم لجعل الخدمه اسرع وافضل واتاحه الفرصه الاكبر لاصحاب العمل في التواصل مع
                        عملائها والوصل لعملاء جدد بصوره اكبر ووتيره اسرع
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="card advantages_box_bottom">
                            <div class="card-body">
                                <div class="service-icon advantages_bottom_icon">
                                    <i class="bi bi-whatsapp"></i>
                                </div>
                                <h4 class="advantages_card_text">التسويق من خلال رسائل الواتس اب</h4>
                                <div class="advantages_card_text2">
                                    <p>يمكنك من خلال رسائل الواتس اب توسيع نطاق العمل وزيادة عدد العملاء لديك ، كن علي
                                        موعد مع النجاح وابدأ الآن</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card advantages_box_bottom">
                            <div class="card-body">
                                <div class="service-icon  advantages_bottom_icon">
                                    <i class="bi bi-camera-reels"></i>

                                </div>
                                <h4 class="advantages_card_text">وسائل عديده للحملات</h4>
                                <div class="advantages_card_text2">
                                    <p>يمكنك ارسال جميع الانواع من الاعلانات (نصية، صورة، فيديو، بي دي اف، ...) من خلال
                                        لوحه التحكم الخاص بك</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card advantages_box_bottom">
                            <div class="card-body">
                                <div class="service-icon  advantages_bottom_icon">
                                    <i class="bi bi-globe"></i>
                                </div>
                                <h4 class="advantages_card_text">حملات حول العالم</h4>
                                <div class="advantages_card_text2">
                                    <p>يمكنك الوصول الي عملائك في جميع أنحاء العالم حيث يمكن الوصول الي أي رقم نشط علي
                                        الواتس اب</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card advantages_box_bottom">
                            <div class="card-body">
                                <div class="service-icon  advantages_bottom_icon">
                                    <i class="bi bi-sliders"></i>
                                </div>
                                <h4 class="advantages_card_text">لوحة تحكم خاصة بك</h4>
                                <div class="advantages_card_text2">
                                    <p>
                                        حيث سنوفر لك لوحة ارسال خاص بك يمكنك من خلالها ارسال الحملات الخاصة بك والحصول
                                        علي تقرير خاص بكل حملة
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card advantages_box_bottom">
                            <div class="card-body">
                                <div class="service-icon  advantages_bottom_icon">
                                    <i class="bi bi-chat"></i>
                                </div>
                                <h4 class="advantages_card_text">الدعم الفني 24/7</h4>
                                <div class="advantages_card_text2">
                                    <p>
                                        نحن في خدمتك في اي وقت طوال السبوع لتقديم الدعم ولأي استفسار، يمكنك التواصل
                                        معانا من خلال التليفون، الاسكايب، الايميل


                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card advantages_box_bottom">
                            <div class="card-body">
                                <div class="service-icon  advantages_bottom_icon">
                                    <i class="bi bi-clipboard2-check"></i>
                                </div>
                                <h4 class="advantages_card_text">
                                    انشاء قوائم للعملاء
                                </h4>
                                <div class="advantages_card_text2">
                                    <p>
                                        يمكنك انشاء وتنظيم قوائم العملاء الخاصة بك بكل سهولة داخل الحساب الخاص بك مما
                                        يسهل عليك عملية ارسال الحملات

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card advantages_box_bottom">
                            <div class="card-body">
                                <div class="service-icon  advantages_bottom_icon">
                                    <i class="bi bi-file-earmark-lock"></i>
                                </div>
                                <h4 class="advantages_card_text">
                                    فلترة الارقام
                                </h4>
                                <div class="advantages_card_text2">
                                    <p>
                                        يوفر النظام خدمة فلترة الأرقام الخاصة بك إما بشكل يدوي قبل عملية الإرسال أو
                                        تلقائيا أثناء عملية الارسال

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card advantages_box_bottom">
                            <div class="card-body">
                                <div class="service-icon  advantages_bottom_icon">
                                    <i class="bi bi-activity"></i>
                                </div>
                                <h4 class="advantages_card_text">
                                    نسبة وصول الرسائل 100%
                                </h4>
                                <div class="advantages_card_text2">
                                    <p>
                                        أهم مايميزنا هو الجدة في الإرسال حيث نؤكد لك أن نسبة الوصول للرسائل هو 100% ويتم
                                        الحصول علي تقرير مفصل لكل حملة

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card advantages_box_bottom">
                            <div class="card-body">
                                <div class="service-icon  advantages_bottom_icon">
                                    <i class="bi bi-award"></i>
                                </div>
                                <h4 class="advantages_card_text">
                                    مميزات أخري عديدة
                                </h4>
                                <div class="advantages_card_text2">
                                    <p>
                                        يحتوي النظام علي مميزات اخري عديدة من ضمنها تحديد وقت الحملة، وضع صورة شعار،
                                        ايقاف او الغاء الحملات ومميزات اخري ....

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="call mt-5">
                <div class="overlay"></div>
                <div class="call-text py-5">
                    <div class="container col-md-6 text-center">
                        <div class="call_box">
                            <h2 class="call_text_1">
                                قم بتجربة الخدمة الأن مجانا
                            </h2>
                            <p class="call_text_2">
                                شركتنا تعمل يوم بعد يوم لجعل الخدمه اسرع وافضل واتاحه الفرصه الاكبر لاصحاب العمل في
                                التواصل مع
                                عملائها والوصل لعملاء جدد بصوره اكبر ووتيره اسرع
                            </p>
                            <div class=" mt-5">
                                <a class="call_btn" href="http://interwa.i-send.co/login">حساب جديد</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end advantages -->

        <!-- price -->
        <section class="price advantages  sec" id="section4">
            <!-- head container -->
            <div class="container col-md-6 text-center">
                <div class="advantages_text">
                    <span class="advantages_text_1">
                        اختار باقتك المفضله
                    </span>
                    <h3 class="advantages_text_2">
                        إسعارنا
                    </h3>
                    <p class="advantages_text_3">
                        نوفر لك باقات متعددة لتناسب طبيعة عملك بارخص الاسعار في الوطن العربي
                    </p>
                </div>
            </div>
            <!-- end head container -->

            <!-- price body contaioner -->
            <div class="container mb-5 pb-70 text-center ">
                <div class="row ">
                    <div class="col-lg-4 col-md-6">
                        <div class="card price_box">
                            <div class="card-body">
                                <div class="price_text_top">
                                    <div class="price_icon">
                                        <i class="bi bi-people"></i>
                                        <div class="price_text_span1">
                                            <span>الباقة 1</span>
                                        </div>
                                        <div class="price_text_span2">
                                            <span class="message">25 الف رسالة</span>
                                        </div>
                                    </div>

                                    <div class="price_number mt-2">
                                        <h4 class="price_number_text">150</h4>
                                    </div>
                                </div>
                                <div class="price_text_bottom mt-3">
                                    <div class="row">
                                        <div class="col-lg-12 mt-2">

                                            <div class="right_text">
                                                <span class="float-end">
                                                    لوحة تحكم للارسال
                                                </span>
                                                <i class="bi bi-check2 float-start"></i>
                                            </div>

                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <div class="right_text">
                                                <span class="float-end">
                                                    ارسال نص - 1 كرديت
                                                </span>
                                                <i class="bi bi-file float-start"></i>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 mt-2">

                                            <div class="right_text">
                                                <span class="float-end">
                                                    ارسال صورة مع وصف لها - 1 كرديت
                                                </span>
                                                <i class="bi bi-image float-start"></i>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 mt-2">
                                            <div class="right_text">
                                                <span class="float-end">
                                                    ارسال فيديو مع وصف له - 2 كرديت
                                                </span>
                                                <i class="bi bi-camera-video float-start"></i>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 mt-2">
                                            <div class="right_text">
                                                <span class="float-end">
                                                    دعم فني 24/7
                                                </span>
                                                <i class="bi bi-globe float-start"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <div class="right_text">
                                                <span class="float-end">
                                                    لا حدود يومية للإرسال
                                                </span>
                                                <i class="bi bi-telegram float-start"></i>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="price_text_btn mt-4">
                                    <button class="btn">
                                        تواصل للشراء الأن
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 speical">
                        <div class="card price_box key-frame">
                            <div class="overlay">Featured</div>

                            <div class="card-body">
                                <div class="price_text_top">
                                    <div class="price_icon">
                                        <i class="bi bi-rocket-takeoff"></i>
                                        <div class="price_text_span1">
                                            <span>الباقة 2</span>
                                        </div>
                                        <div class="price_text_span2">
                                            <span class="message">50 الف رسالة</span>
                                        </div>
                                    </div>

                                    <div class="price_number mt-2">
                                        <h4 class="price_number_text">250</h4>
                                    </div>
                                </div>
                                <div class="price_text_bottom mt-3">
                                    <div class="row">
                                        <div class="col-lg-12 mt-2">

                                            <div class="right_text">
                                                <span class="float-end">
                                                    لوحة تحكم للارسال
                                                </span>
                                                <i class="bi bi-check2 float-start"></i>
                                            </div>

                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <div class="right_text">
                                                <span class="float-end">
                                                    ارسال نص - 1 كرديت
                                                </span>
                                                <i class="bi bi-file float-start"></i>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 mt-2">

                                            <div class="right_text">
                                                <span class="float-end">
                                                    ارسال صورة مع وصف لها - 1 كرديت
                                                </span>
                                                <i class="bi bi-image float-start"></i>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 mt-2">
                                            <div class="right_text">
                                                <span class="float-end">
                                                    ارسال فيديو مع وصف له - 2 كرديت
                                                </span>
                                                <i class="bi bi-camera-video float-start"></i>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 mt-2">
                                            <div class="right_text">
                                                <span class="float-end">
                                                    دعم فني 24/7
                                                </span>
                                                <i class="bi bi-globe float-start"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <div class="right_text">
                                                <span class="float-end">
                                                    لا حدود يومية للإرسال
                                                </span>
                                                <i class="bi bi-telegram float-start"></i>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="price_text_btn mt-4">
                                    <button class="btn">
                                        تواصل للشراء الأن
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card price_box">
                            <div class="card-body">
                                <div class="price_text_top">
                                    <div class="price_icon">
                                        <i class="bi bi-building"></i>
                                        <div class="price_text_span1">
                                            <span>الباقة 3</span>
                                        </div>
                                        <div class="price_text_span2">
                                            <span class="message">100 الف رسالة</span>
                                        </div>
                                    </div>

                                    <div class="price_number mt-2">
                                        <h4 class="price_number_text">450</h4>
                                    </div>
                                </div>
                                <div class="price_text_bottom mt-3">
                                    <div class="row">
                                        <div class="col-lg-12 mt-2">

                                            <div class="right_text">
                                                <span class="float-end">
                                                    لوحة تحكم للارسال
                                                </span>
                                                <i class="bi bi-check2 float-start"></i>
                                            </div>

                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <div class="right_text">
                                                <span class="float-end">
                                                    ارسال نص - 1 كرديت
                                                </span>
                                                <i class="bi bi-file float-start"></i>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 mt-2">

                                            <div class="right_text">
                                                <span class="float-end">
                                                    ارسال صورة مع وصف لها - 1 كرديت
                                                </span>
                                                <i class="bi bi-image float-start"></i>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 mt-2">
                                            <div class="right_text">
                                                <span class="float-end">
                                                    ارسال فيديو مع وصف له - 2 كرديت
                                                </span>
                                                <i class="bi bi-camera-video float-start"></i>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 mt-2">
                                            <div class="right_text">
                                                <span class="float-end">
                                                    دعم فني 24/7
                                                </span>
                                                <i class="bi bi-globe float-start"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <div class="right_text">
                                                <span class="float-end">
                                                    الحد اليومي للارسال 50 %
                                                </span>
                                                <i class="bi bi-telegram float-start"></i>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="price_text_btn mt-4">
                                    <button class="btn">
                                        تواصل للشراء الأن
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end price body conatiner -->
           
            <div class="container clients">
                <img [src]="item.img" alt=""  *ngFor="let item of clientsList">
            </div>

        </section>
        <!-- end price -->

    </main>

    <a href="https://wa.me/message/H3BHYD7VPJ25E1"><button class="whats_logo" id="whats_logo"><i
                class="bi bi-whatsapp"></i></button></a>

    <a href="#"><button class="to-up" id="top"><i class="bi bi-chevron-up"></i></button></a>

    <!-- main js file -->
    <script src="assets/js/main.js"></script>
</body>